
<nav class="navbar" >
  <div class="container-fluid bg-info p-4 navbar-expand-sm">
    <ul class="navbar-nav  ms-auto">
      <li class="nav-item ">
        <a href="#" class="nav-link text-white">HOME</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-white">ABOUT US</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-white">CLAIMS</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-white">CUSTOMER CARE</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-white">SEARCH</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-white">LOGIN</a>
      </li>
    </ul>
</div>
</nav>
<router-outlet (isEnable)="isEnableFunc($event)" ></router-outlet>
